Calculation.RemoteType={{ bsm_ce_remote_type }}
RouterAddress={{ bsm_ce_router_dns_name }}
RouterPort={{ bsm_ce_router_port }}
RemoteCollection={{ bsm_ce_remote_collection }}
FocusClientPortFrom={{ bsm_port_from }}
FocusClientPortTo={{ bsm_port_to }}
DataHubUrl={{ bsm_datahub_url }}
authentication.ClientSecret={{ bsm_client_secret }}
authentication.OidcEnabled={{bsm_oidc_enabled }}
authentication.OidcEndpoint={{ bsm_oidc_endpoint }}
authentication.SsoEnabled={{ bsm_sso_enabled }}